<div class="d-flex flex-row bd-highlight mb-3">
<div class="form-froup row" style="width:60%;">

    <label class="col-sm-2 col-form-label">CustomerName</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="CustomerName"
        placeholder="Enter Customer Name">
    </div>

    <label class="col-sm-2 col-form-label">Item</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="Item">
            <option>--Select--</option>
            <option *ngFor="let itmName of ItemList">
                {{itmName.ItemName}}
            </option>
         </select>
    </div>

    <label class="col-sm-2 col-form-label">DateOfPurchase</label>
    <div class="col-sm-10">
        <input type="date"  [(ngModel)]="DateOfPurchase">
    </div>
</div>

<div class="m1-3 bd-highlight" style="width:40%;">
<img [src]=PhotoFilePath height="250px;" width="200px;">
<input type="file" (change)="uploadPhoto($any($event))" class="mt-2"/>
</div>
</div>


<button (click)="addCustomer()" *ngIf="cust.CustomerId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateCustomer()" *ngIf="cust.CustomerId!=0" class="btn btn-primary">
    Update
</button>

